<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <h2><a href="#/showlogin" id="loginform">Login</a> | <a href="#/register">Register</a></h2>
            <div class="login">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <input type="text" name="u" placeholder="E-mail" required="required" />
                        <input type="password" name="p" placeholder="Password" required="required" />
                        <button type="submit" class="btn btn-primary btn-block btn-large">Вход</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>